// navigation
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-light-grey);
    z-index: 5;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 18px;
}

.nav-content-mobile {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include breakpoint(lg) {
        display: none;
    }
}

.nav-content-left,
.nav-content-right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav-burger {
    width: 100%;
    max-width: 24px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 32px;
    flex-direction: column;

    @include breakpoint(lg) {
        flex-direction: row;
    }

    a {
        color: var(--color-text);
        text-decoration: none;
        font-weight: 300;

        &:hover {
            text-decoration: underline;
        }
    }
}

.nav-phone {
    color: var(--color-text);
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}

// buttons
.btn {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid var(--color-black);
    color: var(--color-black);
    text-decoration: none;
    text-align: center;
    transition: 0.2s;

    &:hover {
        opacity: 0.7;
    }
}

.btn-black {
    background-color: var(--color-black);
    color: var(--color-light);
}

.btn-light {
    background-color: var(--color-light);
    color: var(--color-black);
}

// header
.hero {
    position: relative;
    height: 100vh;
    max-height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-light);
}

.hero-video {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
    z-index: -1;
}

.hero-content {
    padding-top: 190px;
}

.hero-title {
    max-width: 724px;
    padding-block: 16px 48px;
}

.demo-layout {
    padding-top: 68px;
    
    @include breakpoint(lg) {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 24px;
    }

    & > :nth-child(2) {
        @include breakpoint(lg) {
            padding-top: 60px;
        }
    }
}

// slider 
.slider-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1066px;
    padding-top: 76px;
}

.slider-subtitle {
    display: block;
    padding-block: 38px 48px;
    color: var(--color-black);
}

.slider-spec {
    display: flex;
    align-items: center;
    gap: 48px;
    padding-block: 2px 48px;

    p {
        font-weight: 200;
        font-size: 14px;
    }

    strong {
        font-weight: 500;
        font-size: 20px;
    }
}

.slider-btn-prev,
.slider-btn-next {
    position: absolute;
    left: 0;
    top: 190px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-light);
    border: 1px solid var(--color-black);
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.slider-btn-next {
    left: auto;
    right: 0;
    transform: rotate(180deg);
}

// features
.features-layout {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 40px;

    @include breakpoint(lg) {
        flex-wrap: nowrap;
        margin-bottom: 120px;
    }
}

.features-copy {
    @include breakpoint(md) {
        padding: 0 60px 60px;
    }
        

    @include breakpoint(lg) {
        padding: 0 80px 80px;
        margin-left: -100px;
    }

    @include breakpoint(xl) {
        padding: 0 117px 120px;
    }

    &.is-left {
        @include breakpoint(lg) {
            margin-left: 0;
            margin-right: -100px;
            z-index: 1;
        }
    }
}

// contact
.contact {
    background-color: #F5F5F5;

    p, label {
        color: var(--color-text);
        font-size: 13px;
    }

    input[type="submit"] {
        width: fit-content;
        display: block;
    }
}

.contact-checkbox {
    display: flex;
    align-items: flex-start;
    margin-block: 24px;

    input {
        width: fit-content;
        margin: 0 12px 0 0;
    }
}

// footer
.footer {
    padding-block: 46px;

    p, a {
        font-size: 14px;
        text-decoration: none;
    }
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    
    :first-child {
        padding-right: 16px;
        margin-right: 16px;
        border-right: 1px solid var(--color-text);
    }
}

.footer-social {
    display: flex;
    gap: 32px;
}