* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3 {
    color: var(--color-light);
    font-weight: 200;
}

h1, h2 {
    font-size: 60px;
}

h3 {
    font-size: 40px;
}

p, span {
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.2;
}

p {
    font-size: 20px;
}

a {
    color: var(--color-black);
}

span {
    display: block;
    font-size: 16px;
}

img {
    display: block;
    max-width: 100%;
}

input {
    display: block;
    width: 100%;
    padding-block: 15px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #D5D5D5;
    background-color: #F5F5F5;;

    &::placeholder {
        color: var(--color-black);
        font-size: 16px;
        line-height: 1.8;
    }
}

.container {
    width: 100%;
    max-width: 1400px;
    padding-inline: 0.875rem;
    margin-inline: auto;
}

.visible-md {
    display: none !important;

    @include breakpoint(md) {
        display: flex !important;
    }
}

.visible-lg {
    display: none !important;

    @include breakpoint(lg) {
        display: flex !important;
    }
}

.hiden-lg {
    @include breakpoint(lg) {
        display: none;
    }
}

.is-hidden {
    display: none !important;
}

.max-w-md {
    max-width: 550px;
}

.max-w-lg {
    max-width: 700px;
}

.pt-150 {
    padding-top: 150px;
}

.pb-32 {
    padding-bottom: 32px;
}

.py-80 {
    padding-block: 80px;
}

.py-100 {
    padding-block: 100px;
}

.py-170 {
    padding-block: 170px;
}

.mx-auto {
    margin-inline: auto;
}

.mt-16 {
    margin-top: 16px;
}

.mt-48 {
    margin-top: 48px;
}

.my-32 {
    margin-block: 32px;
}

.mb-120 {
    margin-bottom: 120px;
}

.bg-dark-grey {
    background-color: var(--color-dark-grey);
}

.text-black {
    color: var(--color-black);
}

.text-center {
    text-align: center;
}
